* {
    box-sizing: border-box;
}

body {
    position: relative;
}

.jumbotron {
    background-image: url("../img/landscape.jpg");
    background-size: cover;
}

.jumbotron p {
    color: white;
}


/* contant_style*/

.container {
    margin: 0 auto;
    width: 80%;
    padding: 2%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.carousel-inner h5 {
    font-family: Futura, Helvetica, Arial, sans-serif;
    font-size: 2em;
    padding-bottom: 10px;
}

.carousel-inner p {
    font-family: Futura, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.navbar-brand {
    text-transform: uppercase;
}

a.navbar-brand {
    color: steelblue !important;
}

.card-header {
    background: #50ace9;
    font-family: Futura, Helvetica, Arial, sans-serif;
}

.card-header button {
    color: #ffffff;
}

.card-header button:hover {
    color: #ffffff;
}

.card-body {
    font-size: 18px;
}


/* About.html */

.image {
    padding-top: 100px;
}

.imageAbout {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    display: inline-block;
}

.addSpace {
    margin: 10%;
}

.content {
    padding-top: 70px;
}

#contact {
    background-image: url("../img/contact.jpg");
    /*Add a background image*/
    padding: 50px;
    background-attachment: fixed;
    /*Give the background a fixed position does it not scroll when you scroll*/
    background-size: cover;
    /*Have the background cover the entire div section*/
    color: white;
    /*Change the color of the text on top so it is readable and adjust the padding as needed.*/
    height: 800px;
}

.contact {
    color: black;
    font-family: Futura, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    padding: 20px;
    margin: 20px;
}

#faq {
    margin: 15% auto;
    width: 80%;
}

#btn {
    float: right;
}

#about {
    margin: 15% auto;
    width: 80%;
}

.form-control {
    width: 80%;
}

@media (min-width: 768px) {
    .modal-button button {
        float: right;
    }
}

#resume {
    height: 500px;
    width: 100%;
}

.link {
    color: black;
    text-decoration: none;
    background-color: none;
}

#works {
    margin: 20% auto;
    width: 80%;
    height: 80%;
    display: block;
}

.work-img {
    display: block;
    /* needed to center the element with margin */
    margin: auto;
    /* center the image inside the column if it's smaller */
    width: 200px;
    height: 200px;
    /* needs to be set to the width of your image files if they are relatively small */
    position: relative;
    /* is needed for .info position: absolute to work */
    padding: 5px;
    margin: 10px;
}

.info {
    position: absolute;
    top: 15%;
    left: 22%;
    color: #fff;
    font-family: Futura;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5em;
    line-height: 1.6;
    display: none;
}

.proj-title {
    font-weight: 100;
}

#map {
    margin: 20px;
    height: 40%;
    width: 100%;
}